SERVICE_NAME=iot-ingestion-dispatch
SERVICE_ENV=development
LOG_LEVEL=info

KAFKA_BROKER=localhost:9092
KAFKA_CONSUMER_GROUP=iot-ingestion
KAFKA_METER_TOPIC=iot.meter-readings
KAFKA_HEARTBEAT_TOPIC=iot.heartbeats

POSTGRES_URL=postgres://iot_service_user:your_iot_service_password@localhost:5433/iot_data?sslmode=disable

DOCKER_POSTGRES_URL=postgres://iot_service_user:your_iot_service_password@timescaledb:5432/iot_data?sslmode=disable

REDIS_ADDRESS=localhost:6379

GRPC_ADDRESS=:50051
HEALTH_ADDRESS=:8080

OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317